@using Microsoft.AspNet.Identity
@model DataLogic.Models.Category

@{
    ViewBag.Title = "Create";
}

<h2>Skapa ny kategori</h2>

@using (Html.BeginForm(new { Id = User.Identity.GetUserId() }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lägg till en egen kategori genom att skriva namnet på den</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Namn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Namn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Namn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Skapa" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="clearfix"></div>
