@model IEnumerable<DataLogic.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Kommentarer formella</h2>

<p>
    @Html.ActionLink("Skriv ny kommentar", "CreateEvent", "Comments", new { Id = Session["eventId"] }, htmlAttributes: new { @class = "btn btn-default" })
</p>

<br />
@{var y = 1; }
@if (Model.ToList().Count == 0)
{
    <h3>Kommentera inlägget</h3>

    using (DataLogic.Models.ApplicationDbContext db = new DataLogic.Models.ApplicationDbContext())
    {
        var events = db.Events;

        foreach (var item in events)

        {
            var id = int.Parse(Session["eventId"].ToString());
            if (item.Id == id)
            {
                <div class="well">
                    <h3>@item.Place</h3>
                    <p>Skapad av: @Session["emailEvent"].ToString()</p>
                    <p>Datum: @item.Date</p>
                    <br />
                    <br />
                    <p>@item.Time</p>
                    <br />
                    <br />
                    <p>@item.Description</p>
                    <br />

                   
                </div>
                <br />

                y++;

                if (y == 1)
                {
                    break;
                }
            }
        }
    }
}

@{var i = 0; }
@foreach (var item in Model)
{
    <div class="well">
        <h3>@item.Meeting.Place</h3>
        <p>Skriven av: @item.Meeting.Host.Email</p>
        <p>Datum: @item.Meeting.Date</p>
        <br />
        <br />
        <p>@item.Meeting.Time</p>
        <br />
        <br />
        <p>@item.Meeting.Description</p>
        <br />

        
    </div>
    <br />

    i++;

    if (i == 1)
    {
        break;
    }
}


<h3>Kommentarer</h3>
@foreach (var item in Model.Reverse())
{
    <div class="well">
        <p>Skriven av: @item.Writer.Email</p>
        <p>Datum: @item.Date</p>
        <br />
        <div class="panel-footer row"></div>
        <p>@item.Text</p>
    </div>
}

<div class="clearfix"></div>
