@model DataLogic.Models.CreateEntryViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "CreateTest";
}

<h2>Skriv ett nytt inlägg</h2>


@using (Html.BeginForm("CreateTest", "Entries", new { id = User.Identity.GetUserId()}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Entries.Heading, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Entries.Heading, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entries.Heading, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Entries.text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Entries.text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entries.text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("", "Lägg till ny tagg", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ActionLink("Klicka här", "Create", "EntryTags", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TagList, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.SelectedTags, Model.TagNameList, new { @class = "form-control", id = "SelectedTagIds" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="addTag" value="Lägg till" class="btn-pink" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="removeTag" value="Ta bort" class="btn-pink" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Tillagda taggar:</label>
            <div class="col-md-10">
                <select class="form-control" id="SelectedTags" multiple="multiple" name="SelectedTagIds"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("", "Ladda upp fil/bild", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="picUpload" />
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Skapa" class="btn btn-default" id="Submit" />
            </div>
        </div>
    </div>
}


@section Scripts {
   @*@Scripts.Render("~/bundles/jqueryval")*@
<script src="~/Scripts/AddTaggar.js"></script>
<script type="text/javascript">
        $(document).ready(function () {   
            $("#Submit").click(function () {
                $("#SelectedTags option").prop("selected", "selected");
            });
    });
    </script>
}

