@using Microsoft.AspNet.Identity
@model Dictionary<DataLogic.Models.Entries, List<string>>


<h2>Formella inlägg</h2>

<p>
    @Html.ActionLink("Skriv nytt inlägg", "CreateTest", new { Id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "btn btn-default" })
    <br />
    <br />
@Html.ActionLink("Redigera taggar", "Index", "EntryTags",  new { Id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "btn btn-default" })
</p>





@foreach (var entry in Model.Reverse())
{
    <div class="well">
        <h3>@Html.ActionLink(@entry.Key.Heading, "IndexFormal", "Comments", routeValues: new { Id = entry.Key.Id }, htmlAttributes: null)</h3>
        <p>Skriven av: @entry.Key.Author.Email</p>
        <p>Datum: @entry.Key.Date.ToString().Substring(0, 10)</p>
        <br />
        <br />
        <p>@entry.Key.text</p>
        <br />

        @if (entry.Key.File != null && entry.Key.ContentType.Contains("image"))
        {
            <img height="300" width="300" src="@Url.Action("EntryFile", new { Id = entry.Key.Id })" />
        }
        else if (entry.Key.File != null && !entry.Key.ContentType.Contains("image"))
        {
            <p>Klicka på länken för att se bifogad fil</p>
            @Html.ActionLink("Bifogad fil: " + entry.Key.Filename.ToString(), "EntryFile", "Entries", routeValues: new { Id = entry.Key.Id }, htmlAttributes: null);
        }

        <br />
        <br />

        @foreach (var tag in entry.Value)
        {
            @*<button type="button" class="btn btn-primary btn-xs">@tag</button>*@

            <br />
            @Html.ActionLink(tag, "", "", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
            <br />
        }
        <br />
        <br />
        <br />
        <div class="panel-footer row">
            @if (entry.Key.Author.Id == User.Identity.GetUserId() || User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                @Html.ActionLink("Radera inlägg", "Delete", new { id = entry.Key.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Redigera inlägg", "Edit", new { id = entry.Key.Id }, new { @class = "btn btn-default" })
            }
            @Html.ActionLink($"Kommentera inlägg ({entry.Key.CommentsFormal.Count})", "IndexFormal", "Comments", new { id = entry.Key.Id }, new { @class = "btn btn-default" })
        </div>
    </div>
}


<div class="clearfix"></div>
