@model DataLogic.Models.Entries

@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
}

<h2>Formella inlägg</h2>

<p>
    @Html.ActionLink("Skriv nytt inlägg", "Create", new { Id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "btn btn-default" })
</p>



    <div class="well">
        <h3>@Model.Heading</h3>
        <p>Skriven av: @Model.Author.Email</p>
        <p>Datum: @Model.Date.ToString()  Kategori: @Model.Category.ToString()</p>
        <br />
        <br />
        <p>@Model.text</p>
        <br />
        @if (Model.File != null)
        {
            <img height="300" width="300" src="@Url.Action("EntryFile", new { Id = Model.Id })" />
        }
    </div>




<div class="clearfix"></div>
