@using Microsoft.AspNet.Identity
@using DataLogic.Models
@if (Request.IsAuthenticated)

{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        int i = DataLogic.DbMethods.Methods.GetInvitesCount(User.Identity.GetUserId());

        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(" ", "UserSearch", "Home", routeValues: null, htmlAttributes: new { @class = "glyphicon glyphicon-search" })</li>
            <li>@Html.ActionLink(" " + i, "Events", "Events", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "glyphicon glyphicon-inbox" })</li>
            <li>@Html.ActionLink("Formella inlägg", "IndexFormal", "Entries", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)</li>
            <li>@Html.ActionLink("Informella inlägg", "Index", "EntryInformals", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Informativa Inlägg
                </a>

                <div class="dropdown-menu">
                    @Html.ActionLink("Utbildning", "Education", "EntryInformative", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)<br />
                    @Html.ActionLink("Forskning", "Research", "EntryInformative", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)
                </div>
            </li>
            <li>@Html.ActionLink("Möten", "Index", "Events")</li>

            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Admin", "Admin", "Home")</li>}
        </ul>

        <ul class="nav navbar-nav navbar-right" style="color: red;">
            <li>
                @{
                    var user = new ApplicationUser();
                    using (var context = new ApplicationDbContext())
                    {
                        user = context.Users.Find(User.Identity.GetUserId());
                    }
                }
                @if (user != null)
                {
                    @Html.ActionLink("" + user.FirstName + " " + user.LastName, "ProfilePage", "Home", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })

                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
        </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right" style="color: black;">
                            <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
