@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Informativa Inlägg
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @Html.ActionLink("Utbildning", "Education", "EntryInformative", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)<br />
            @Html.ActionLink("Forskning", "Research", "EntryInformative", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)

        </div>
    </li>

    <li>@Html.ActionLink("Formella inlägg", "IndexFormal", "Entries", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)</li>
    <li>@Html.ActionLink("Bloggen", "Index", "EntryInformals", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)</li>
    <li>@Html.ActionLink("Möten", "Index", "Events")</li>


</ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hej " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
