@using Microsoft.AspNet.Identity
@model DataLogic.Models.ApplicationUser

@{
    ViewBag.Title = "Profilsida";
}

<h2>Profilsida</h2>

<div>
    <hr />

  
        <hr />
       
            <div class="card front-cards" style="width: 20rem;">
                <img class="card-img-top image-size" src="@Url.Action("ProfilePicture", "Account", new { id = Model.Id} )" alt="Card image cap">
                <div class="card-block">
                 

                </div>
            </div>
        
 


 

    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayName("Förnamn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Efternamn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Rum")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

        <dt>
            @Html.DisplayName("E-mail")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("Telefonnummer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNmbr)
        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Redigera", "EditProfile", new { id = Model.Id }) | 
    @if (User.IsInRole("SuperAdmin") && Model.Active)
    {
        if (!Model.Id.Equals(User.Identity.GetUserId()))
        {
            @Html.ActionLink("Inaktivera konto", "Deactivate", new { id = Model.Id })
        }

    }

    @if (User.IsInRole("Admin") && Model.Active)
    {
        if (!Model.Id.Equals(User.Identity.GetUserId()))
        {
            if (!TempData["role"].Equals("SuperAdmin") && !TempData["role"].Equals("Admin"))
            {
                @Html.ActionLink("Inaktivera konto", "Deactivate", new { id = Model.Id })
            }

        }

    }

    @if (User.IsInRole("SuperAdmin") && !Model.Active)
    {
        if (!Model.Id.Equals(User.Identity.GetUserId()))
        {
            @Html.ActionLink("Aktivera konto", "Activate", new { id = Model.Id })
        }

    }

    @if (User.IsInRole("Admin") && !Model.Active)
    {
        if (!Model.Id.Equals(User.Identity.GetUserId()))
        {
            if (!TempData["role"].Equals("SuperAdmin") && !TempData["role"].Equals("Admin"))
            {
                @Html.ActionLink("Aktivera konto", "Activate", new { id = Model.Id })
            }

        }

    }


</p>


