@using Microsoft.AspNet.Identity
@model DataLogic.Models.Profilepageviewmodel


@{
    ViewBag.Title = "Profilsida";
}

<h2>Profilsida</h2>

<div class="mininfo" style="float:left;">
    <hr />


    <hr />
    <img class="card-img-top" style="width: 150px; height: 150px; border-radius:20px;" src="@Url.Action("ProfilePicture", "Account", new { id = Model.user.Id} )" alt="Card image cap">







    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayName("Förnamn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Efternamn")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Rum")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Room)
        </dd>

        <dt>
            @Html.DisplayName("E-mail")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Email)
        </dd>

        <dt>
            @Html.DisplayName("Telefonnummer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.PhoneNmbr)
        </dd>

    </dl>

    <p>
        @if (Model.user.Id == User.Identity.GetUserId())
        {
            @Html.ActionLink("Redigera", "EditProfile", new { id = Model.user.Id })
        }
        @if (User.IsInRole("SuperAdmin") && Model.user.Active)
        {
            if (!Model.user.Id.Equals(User.Identity.GetUserId()))
            {
                @Html.ActionLink("Inaktivera konto", "Deactivate", new { id = Model.user.Id })
            }

        }

        @if (User.IsInRole("Admin") && Model.user.Active)
        {
            if (!Model.user.Id.Equals(User.Identity.GetUserId()))
            {
                if (!TempData["role"].Equals("SuperAdmin") && !TempData["role"].Equals("Admin"))
                {
                    @Html.ActionLink("Inaktivera konto", "Deactivate", new { id = Model.user.Id })
                }

            }

        }

        @if (User.IsInRole("SuperAdmin") && !Model.user.Active)
        {
            if (!Model.user.Id.Equals(User.Identity.GetUserId()))
            {
                @Html.ActionLink("Aktivera konto", "Activate", new { id = Model.user.Id })
            }

        }

        @if (User.IsInRole("Admin") && !Model.user.Active)
        {
            if (!Model.user.Id.Equals(User.Identity.GetUserId()))
            {
                if (!TempData["role"].Equals("SuperAdmin") && !TempData["role"].Equals("Admin"))
                {
                    @Html.ActionLink("Aktivera konto", "Activate", new { id = Model.user.Id })
                }

            }

        }


    </p>
</div>

<div class="minkalender" style= "float:left;">

    <h1>Min kalender:</h1>
    @foreach (var item in Model.myMeetings)
    {

        <table class="table table-condensed table-bordered">


            <tr class="events">
                <th>Datum </th>
                <th>Tid</th>
                <th>Beskrivning</th>
                <th>Plats</th>
                <th>Mötesdeltagare</th>

            </tr>



            <tr>

                <td class="col-md-2">@item.Date</td>




                <td class="col-md-2">@item.Time</td>



                <td class="col-md-2">@item.Description</td>




                <td class="col-md-2">@item.Place</td>

                <td class="col-md-2">@Html.ActionLink("Deltagare", "EventDetails", "Events", new { id = item.Id }, null)</td>


            </tr>
        </table>




    }

</div>

    


