@model DataLogic.Models.EventViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Skapa ett nytt möte</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger", id = "myForm" })
        <div class="form-group">
            @Html.LabelFor(model => model.events.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.events.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.events.Date, "", new { @class = "text-danger" })
            </div>
        </div>


    
 
    @*<hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.events.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.events.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.events.Date, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.events.Time, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.events.Time, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.events.Time, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(model => model.events.secondaryTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.events.secondaryTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.events.secondaryTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.events.tertiaryTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.events.tertiaryTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.events.tertiaryTime, "", new { @class = "text-danger" })
            </div>
        </div>

    <div class="form-group">
        @Html.LabelFor(model => model.events.Place, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.events.Place, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.events.Place, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.events.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.events.Description, new { htmlAttributes = new { @class = "form-control", Maxlength = 20 } })
            @Html.ValidationMessageFor(model => model.events.Description, "", new { @class = "text-danger" })
        </div>
    </div>


        
    <div class="form-group">
        <label class="col-md-2 control-label">Bjud in:</label>
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.Inbjudna, Model.Participants, new { @class = "form-control", id = "ListId"})
        </div>
    </div>
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="add" value="Lägg till" class="btn-pink" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button"id="remove" value="Ta bort" class="btn-pink" />
                </div>
            </div>
        
       
        <div class="form-group">
            <label class="col-md-2 control-label">Inbjudna:</label>
            <div class="col-md-10">

                <select class="form-control" id="Inbjudna" multiple="multiple" name="ListId">
                
                </select>
            </div>
        </div>
            


        


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Skapa" class="btn-pink" id="sub" />
        </div>
    </div>
</div>
}

<div class="clearfix"></div>
@section scripts {
<script src="~/Scripts/MeetingParticipants.js"></script>"
<script type="text/javascript">
        $(document).ready(function () {

            $("#sub").click(function () {
                $("#Inbjudna option").prop("selected", "selected");

            });

        });
</script>
    }
    
