@model DataLogic.Models.EventViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Skapa möte</h2>


@Html.ActionLink("Skapa möte", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })





@foreach (var item in Model.allEvents)
{

    <table class="table table-condensed table-bordered">


        <tr class="events">
            <th>Datum </th>
            <th>Tid</th>
            <th>Tidsförslag 1</th>
            <th>Tidsförslag 2</th>
            <th>Beskrivning</th>
            <th>Plats</th>
            <th>Mötesdeltagare</th>
           
            <th>Uppdatera</th>
            <th>Ta bort</th>

        </tr>



        <tr>

            <td class="col-md-2">@item.Date.ToString().Substring(0, 10)</td>




            <td class="col-md-2">@item.Time</td>
            <td class="col-md-2">@item.secondaryTime</td>
            <td class="col-md-2">@item.tertiaryTime</td>



            <td class="col-md-2">@item.Description</td>




            <td class="col-md-2">@item.Place</td>

            <td class="col-md-2">@Html.ActionLink("Deltagare", "EventDetails", new { Id = item.Id })</td>

            

<td class="col-md-2">@Html.ActionLink("Uppdatera", "Update", new { ID = item.Id })</td>
            <td class="col-md-2">@Html.ActionLink("Ta bort", "Delete", new { ID = item.Id })</td>

        </tr>


    </table>



}


