@using Microsoft.AspNet.Identity
@model IEnumerable<DataLogic.Models.EntryInformal>




<h2>Allmänna bloggen</h2>

@Html.ActionLink("EmailTest", "Create", "Emails", routeValues: new { Id = User.Identity.GetUserId() }, htmlAttributes: null)

<p>
    @Html.ActionLink("Skriv nytt inlägg", "Create", "EntryInformals", new { Id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "btn btn-default" })
</p>

@foreach (var entry in Model.Reverse())
{
    <div class="well">
        <h3>@Html.ActionLink(@entry.Heading, "Index", "Comments", routeValues: new { Id = entry.Id }, htmlAttributes: null)</h3>
        <p>Skriven av: @entry.Author.Email</p>
        <p>Datum: @entry.Date.ToString()</p>
        <br />
        <br />
        <p>@entry.Text</p>
        <br />
        @if (entry.File != null)
        {
            <img height="300" width="300" src="@Url.Action("EntryFile", new { Id = entry.Id })" />
        }

        <br />
        <br />
        <br />
        @if (entry.Author.Id == User.Identity.GetUserId() || User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
        {
            @Html.ActionLink("Radera inlägg", "Delete", new { id = entry.Id }, new { @class = "btn btn-default" })
        }
    </div>
}


