@using Microsoft.AspNet.Identity
@model Dictionary<DataLogic.Models.EntryEducation, List<string>>

@{
    ViewBag.Title = "Utbildning";
}

<h2>Utbildningsinlägg</h2>

<p>
    @Html.ActionLink("Skriv nytt inlägg", "CreateEducation", new { Id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "btn btn-default" })
</p>
<p>
    @using (Html.BeginForm("EducationSearch", "EntryInformative"))
    {
        @Html.TextBox("EducationSearch", null, new { @class = "form-control" })

        <input type="submit" name="educationSearch" value="Sök utbildnigsinlägg" />
    }
</p>
@foreach (var entry in Model.Reverse())
{
    //här behövs en if-sats för att filtrera ut alla icke-informativa
    <div class="well">
        <h3>@entry.Key.Heading</h3>
        <p>Skriven av: @entry.Key.Author.Email</p>
        <p>Datum: @entry.Key.Date.ToString()</p>
        <br />
        <br />
        <p>@entry.Key.text</p>
        <br />
        @if (entry.Key.File != null && entry.Key.ContentType.Contains("image"))
        {
            <img height="300" width="300" src="@Url.Action("EntryFileEducation", new { Id = entry.Key.Id })" />
        }
        else if (entry.Key.File != null && !entry.Key.ContentType.Contains("image"))
        {
            <p>Klicka på länken för att se bifogad fil</p>
            @Html.ActionLink("Bifogad fil: " + entry.Key.Filename.ToString(), "EntryFileEducation", "EntryInformative", routeValues: new { Id = entry.Key.Id }, htmlAttributes: null);
        }

        <br />
        <br />

        @foreach (var tag in entry.Value)
        {
            @*<button type="button" class="btn btn-primary btn-xs">@tag</button>*@

            <br />
            @Html.ActionLink(tag, "", "", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
            <br />
        }
        <br />
        <br />
        <br />
        @if (entry.Key.Author.Id == User.Identity.GetUserId() || User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
        {
            @Html.ActionLink("Radera inlägg", "DeleteEducation", new { id = entry.Key.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Redigera inlägg", "EditEducation", new { id = entry.Key.Id }, new { @class = "btn btn-default" })

            
        }

    </div>

}


<div class="clearfix"></div>
