@using Microsoft.AspNet.Identity
@model Dictionary<DataLogic.Models.EntryResearch, List<string>>

@{
    ViewBag.Title = "Forskning";
}

<h2>Forskningsinlägg</h2>

<p>
    @Html.ActionLink("Skriv nytt inlägg", "CreateResearch", new { Id = User.Identity.GetUserId() }, htmlAttributes: new { @class = "btn btn-default" })
</p>
<p>
    @using (Html.BeginForm("ResearchSearch", "EntryInformative"))
    {
        @Html.TextBox("ResearchSearch", null, new { @class = "form-control" })

        <input type="submit" name="researchSearch" value="Sök forskningsinlägg" />
    }
</p>
@foreach (var entry in Model.Reverse())
{
    //här behövs en if-sats för att filtrera ut alla icke-informativa
    <div class="well">
        <h3>@entry.Key.Heading</h3>
        <p>Skriven av: @entry.Key.Author.Email</p>
        <p>Datum: @entry.Key.Date.ToString()</p>
        <br />
        <br />
        <p>@entry.Key.text</p>
        <br />

        @if (entry.Key.File != null && entry.Key.ContentType.Contains("image"))
        {
            <img height="300" width="300" src="@Url.Action("EntryFileResearch", new { Id = entry.Key.Id })" />
        }
        else if (entry.Key.File != null && !entry.Key.ContentType.Contains("image"))
        {
            <p>Klicka på länken för att se bifogad fil</p>
                @Html.ActionLink("Bifogad fil: " + entry.Key.Filename.ToString(), "EntryFileResearch", "EntryInformative", routeValues: new { Id = entry.Key.Id }, htmlAttributes: null);
        }
        <br />
        <br />
        @foreach (var tag in entry.Value)
        {
            <br />
            @Html.ActionLink(tag,"", "",routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-xs"})
            <br />
        }

        <br />
        <br />
        <br />
        @if (entry.Key.Author.Id == User.Identity.GetUserId() || User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
        {
            @Html.ActionLink("Radera inlägg", "DeleteResearch", new { id = entry.Key.Id }, new { @class = "btn btn-default" })

            @Html.ActionLink("Redigera inlägg", "EditResearch", new { id = entry.Key.Id }, new { @class = "btn btn-default" })
        }
    </div>

}


<div class="clearfix"></div>
